<%= javascript_pack_tag 'index' %>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="red-text" id="hello">hello, world!</div>
      <img src="<%=asset_pack_path 'images/squirrel.jpg'%>" class="rounded-circle">
    </div>
  </div>
</div>
